<div class="flex w-full min-w-96">
    <div class="h-1/2 w-1/3 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
      <img src={{cartItem?.hotel?.image}} alt="Hotel image" class="h-full w-full object-cover object-center">
    </div>
    <div class="ml-4 flex flex-1 flex-col">
      <div>
        <div class="flex justify-between text-base font-medium text-gray-900">
          <h3>
            {{cartItem?.hotel?.name}}
          </h3>
          <p class="ml-4">€{{cartItem?.hotel?.price}}</p>
        </div>
        <p class="mt-1 text-sm text-gray-500">Salmon</p>
      </div>
      <div class="flex flex-1 items-end justify-end space-x-1 text-sm">
        <button mat-icon-button (click)="decrementCount()">
          <mat-icon>remove</mat-icon>
        </button>
        <p class="text-gray-500">Qty {{cartItem?.reservedRooms}}</p>
        <button mat-icon-button (click)="incrementCount()">
          <mat-icon>add</mat-icon>
        </button>
        
      </div>
    </div>
</div>